{% extends 'base/base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mb-3" style="margin-top: 50px;">
            <h4>Change Password</h4>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-4 mx-auto">
            <form action="{% url 'accounts:password_change' %}" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <input type="password" id="id_old_password" name="old_password" class="form-control" />
                    <label class="form-label" for="id_old_password">Old password</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="id_new_password1" name="new_password1" class="form-control" />
                    <label class="form-label" for="id_new_password1">New password</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" id="id_new_password2" name="new_password2" class="form-control" />
                    <label class="form-label" for="id_new_password2">New password confirmation</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>

                <input type="hidden" name="next" value="{{ next }}">
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}